name: TSP Daily Alerts

on:
  schedule:
    - cron:  "0 0 * * *"
  workflow_dispatch:

jobs:
  send-daily-alerts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Alerts Script
        run: |
          python scripts/daily_alerts.py